html,body {
  height:100%;
}

body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
} 

h1 {
  font-size:80px;
  color:#f4f4f4;
}

.lead {
	color:#f4f4f4;
}

@media (min-width: 1400px) {
  .container {
    width: 1200px;
  }
}


/* Navigation bar */

.yamm {
  margin: auto;
  margin-bottom: 0px;
  max-width: 1170px;
  border-radius: 0px !important;
}

.yamm .navbar-brand {
  padding: 8px 20px;
}

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 0px 15px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

/* modals */

.modal-dialog {
    min-width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}


/* Custom container */

.container-full {
  padding-top: 20px;
  margin: 0 auto;
  width: 100%;
  background-color:#3498db;
  color:#f4f4f4;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.btn-primary {
  background: #FF6530;
  border-color: #f4f4f4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #FF8359;
  border-color: #f4f4f4;
}

.btn-primary:active {
  background: #FF4303;
  color: #cccccc;
  border-color: #f4f4f4;
}

.btn-blue {
  background: #0F85D1;
  border-color: #f4f4f4;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.open > .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #3499DB;
  border-color: #f4f4f4;
}

.btn-blue:active {
  background: #0665A2;
  color: #cccccc;
  border-color: #f4f4f4;
}

.btn-green {
  background: #62E100;
  border-color: #f4f4f4;
}

.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.open > .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #84F42E;
  border-color: #f4f4f4;
}

.btn-green:active {
  background: #62E100;
  color: #cccccc;
  border-color: #f4f4f4;
}

/* Carousel */
.transition-timer-carousel .carousel-caption .carousel-caption-header {
  margin-top: 10px;
  font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
  .transition-timer-carousel .carousel-caption .carousel-caption-header {
    font-size: 36px;
  }
}
.transition-timer-carousel .carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
  z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: rgba(155, 246, 86, 1);
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
  -moz-transition: width 4.25s linear;
  -o-transition: width 4.25s linear;
  transition: width 4.25s linear;
}

/* testimonials */

.userssay {
  padding-top: 20px;
  color: #f4f4f4;
}

.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #ecedf1;
  color: #0665A2;
}
.testimonials blockquote:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #ecedf1;
  background: white;
  bottom: -65px;
  left: 50%;
  margin-left: -25px;
}

blockquote p.clients-words {
  font-size: 14px;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* 3 part getting started section */

ul.thumbnails {
  list-style: none;
  margin: 0px auto;
}

.getstarthead {
  margin-top: 0px !important;
}

@media (min-width: 1200px) {
    .getstart .thumbnail {
      padding-top: 14px;
    }
}

@media (max-width: 768px) {
    .getstart {
      padding: 2px !important;
    }
}

.getstart:first-child div.thumbnail {
  background: 

  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(133, 196, 237, .7) 10px,
    rgba(133, 196, 237, .7) 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    rgba(15, 133, 209, .7),
    rgba(133, 196, 237, .7)
  );

}

.getstart:nth-child(2) div.thumbnail {
  background: 

  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(183, 249, 133, .7) 10px,
    rgba(183, 249, 133, .7) 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    rgba(155, 246, 86, .7),
    rgba(183, 249, 133, .7)
  );

}

.getstart:nth-child(3) div.thumbnail {
  background: 

  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255, 166, 136, .7) 10px,
    rgba(255, 166, 136, .7) 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    rgba(255, 131, 89, .7),
    rgba(255, 166, 136, .7)
  );

}


/* auction space */

.orangeburst {
  padding-top: 20px;
  margin: 0 auto;
  width: 100%;
  background-color: #3498db;
  color: #f4f4f4;
  overflow: hidden;
}

.auction {
  border: 1px solid #ccc;
  background: #f4f4f4;
  color: #0665A2;
}