html,body {
  height:100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
} 

h1 {
  font-size:80px;
  color:#f4f4f4;
}

.lead {
	color:#f4f4f4;
}


/* Custom container */

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#3498db;
  color:#f4f4f4;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.btn-primary {
  background: #FF6530;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #FF8359;
  border-color: #285e8e;
}

.btn-primary:active {
  background: #84F42E;
  color: #62E100;
} 

/* Carousel */

.slider-size {
  height: 400px; /* This is your slider height */
}

.carousel {
  width:100%; 
  margin:0 auto; /* center your carousel if other than 100% */ 
}

/* Auction container */

.auction-spacer {
    margin-top: 50px;
}

.auction-feature {
    margin-bottom: 30px;
}