html,body {
  height:100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
} 

h1 {
  font-size:80px;
  color:#f4f4f4;
}

.lead {
	color:#f4f4f4;
}


/* Custom container */

.container-full {
  margin: 0 auto;
  width: 100%;
  background-color:#3498db;
  color:#f4f4f4;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.btn-primary {
  background: #FF6530;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #FF8359;
  border-color: #285e8e;
}

.btn-primary:active {
  background: #84F42E;
  color: #62E100;
}

/* Carousel */
.transition-timer-carousel .carousel-caption .carousel-caption-header {
  margin-top: 10px;
  font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
  .transition-timer-carousel .carousel-caption .carousel-caption-header {
    font-size: 36px;
  }
}
.transition-timer-carousel .carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
  z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
  -moz-transition: width 4.25s linear;
  -o-transition: width 4.25s linear;
  transition: width 4.25s linear;
}

/* 3 part what to do section */

ul.thumbnails {
  list-style: none;
  margin: 15px auto;
}